.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

.post {
    width: 400px;
    height: 322px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.post .title {
    flex: 20%;
    border-bottom: 1px solid lightgray;
    background-color: rgb(16, 173, 87);
    display: grid;
    place-content: center;
    color: white;
}

.post .body {
    flex: 84%;
    display: grid;
    place-content: center;
}

.post .footer {
    flex: 42%;
    border-top: 1px solid lightgray;
    padding-left: 15px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footer .postInfo {
    display: flex;
    margin-top: 10px;
}
.footer .username {
    flex: 50%;
}
.footer .buttons {
    display: flex;
    align-items: center;
}
.footer .tags {
    display: flex;
    font-size: 15px;
    color: dodgerblue;
    flex-wrap: wrap;
    gap: 0px 10px;
    margin-top: 5px;
}
.footerContent {
    color: black;
}
.postTags {
    color: dodgerblue;
}
.favoriteIcon {
    color: #f44336;
}
.favoriteBorder {
    color: black;
}
.buttons label {
    color: black;
    margin-right: 20px;
    margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    padding: 20px;
    border: 5px solid rgb(16, 173, 87);
    border-radius: 5px;
}

.formContainer #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.formContainer button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: rgb(143, 235, 184);
    border-radius: 5px;
    color: white;
}

.formContainer button:hover {
    cursor: pointer;
    background-color: rgb(16, 173, 87);
}
.tagCheck {
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    gap: 0px 15px;
    margin-top: 10px;
}

span {
    color: red;
}
/* NAVBAR */

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(16, 173, 87);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .loggedInContainer {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.navbar button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
}
.navbar h1 {
    text-align: right;
    margin-right: 10px;
    color: white;
    font-weight: lighter;
}
/* INDIVIDUAL POST */
.postPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftSide {
    flex: 50%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.rightSide {
    flex: 50%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
}

.rightSide .addCommentContainer {
    flex: 20%;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 25px;
}

.addCommentContainer input,
button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
}

.addCommentContainer button {
    background-color: rgb(16, 173, 87);
    color: white;
}

.addCommentContainer input {
    border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
    flex: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listOfComments .comment {
    width: 70%;
    height: auto;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileImage {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#individual {
    height: 500px;
    width: 600px;
}

#individual .title,
#individual .footer {
    font-size: 30px;
}

#individual .tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
    color: dodgerblue;
    gap: 0px 15px;
}

#individual .body {
    font-size: 25px;
}
/* LOGIN */

.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.loginContainer input,
button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}

.loginContainer button {
    background-color: rgb(16, 173, 87);
    color: white;
}

.loginContainer input {
    border: 2px solid dodgerblue;
}
/* 検索バー */
.search {
    display: flex;
    margin-top: 36px;
}
.search__bar {
    display: flex;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 999px;
    background-color: #f0f2f5;
    width: 374px;
}
.search__bar > input {
    border: none !important;
    background-color: #f0f2f5;
    width: 374px;
}

.search input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
}
.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    height: auto;
    padding-left: 0;
    width: 400px;
    z-index: 2;
    position: absolute;
    background-color: white;
}
.suggestions li {
    padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
    background-color: #f50057;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}
/* ページネーション */
.pagination {
    margin: 50px 0px 80px 0px;
    padding-left: 0;
}
.pagination li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border: 1px #333 solid;
    color: black;
    border-radius: 5px / 5px;
    font-size: 20px;
}
.pagination .pre {
    background-color: #ccc;
    color: #333;
}
.pagination .next {
    background-color: #ccc;
    color: #333;
}
.pagination li:hover,
.pagination .currentPage {
    background-color: #f50057;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

/* ダイレクトメッセージ */

.header {
    background-color: #222a41;
    color: white;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    border-radius: 50%;
    height: 45px;
    margin-top: -20px;
    border: 2px solid black;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.msg {
    display: flex;
    padding: 20px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    box-shadow: 0 0 10px rgb(164, 164, 164);
    align-items: center;
}

.sent {
    background-color: #85e14b;
    color: black;
    border-top-right-radius: 500px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
}

.received {
    background-color: #fafafa;
    border-top-left-radius: 500px;
    float: left;
}

.sendMsg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #fafafa;
}

.msgs {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 775px) {
    p {
        font-size: 20px;
    }
    .sent {
        padding: 10px 10px 0 10px;
    }
    .received {
        padding: 10px 10px 0 10px;
    }
    img {
        height: 35px;
        margin-top: -10px;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 15px;
    }
    .sent {
        padding: 7px 7px 0 7px;
    }
    .received {
        padding: 7px 7px 0 7px;
    }
    img {
        height: 30px;
        margin-top: -7px;
    }
}
